.git
.gitignore
.editorconfig
.env
.env.*
*.md
node_modules
vendor
tests
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
coverage
bootstrap/cache/*.php
docker/8.0
docker/8.1
docker/8.2
docker/8.3
docker/8.4
docker/8.5
